/image
/main
/main 2
/main_2
/main_windows
.DS_Store
/readme.pdf
./res
image.h
.gitignore
.gitignore
.backup.zip.icloud
.Analyse_et_traitement_image.code-workspace.icloud
.gitignore
.LAURETTA-PERONNE_Aymerick_Imagerie.zip.icloud
.image.h.save.icloud
